<header>
  <nav>
    <a href="/">OMS</a>
    <ul>
      <li><a href="/items">Items</a></li>
      <li><a href="/items/new">Add to Items</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/categories/new">Add to Categories</a></li>
    </ul>
  </nav>
</header>
